* {
  box-sizing: border-box;
}
body {
  margin: 0;
}

p {
  margin: 0;
}

a {
  text-decoration: none;
}

a:active {
  border-color: none;
  outline: none;
}

.swiper-button-next {
  color: #e0ffff !important;
}
.swiper-button-prev {
  color: #e0ffff !important;
}
